Package: com.jacobcxdev.fbspnosor
Name: FBSpNOsor
Depends: mobilesubstrate, preferenceloader, firmware (>= 11.0), com.jacobcxdev.libjcx
Architecture: iphoneos-arm
Description: Remove sponsored and suggested posts, videos, etc. from Facebook.
Maintainer: JacobCXDev <jacobcxdev@gmail.com>
Author: JacobCXDev <jacobcxdev@gmail.com>
Section: Tweaks
Version: 1.2.7