Package: com.jacobcxdev.fbspnoser
Name: FBSpNOser
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: A tweak to remove sponsored posts, suggested posts, etc. from Facebook.
Maintainer: JacobCXDev
Author: JacobCXDev
Section: Tweaks
