Package: com.jacobcxdev.fbspnosor
Name: FBSpNOsor
Depends: mobilesubstrate, firmware (>= 11.0)
Version: 1.2.4
Architecture: iphoneos-arm
Description: A tweak to remove sponsored and suggested posts, videos, etc. from Facebook.
Maintainer: JacobCXDev
Author: JacobCXDev
Section: Tweaks
